{% extends "base.html"%} {% block content %}



<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <div class="card-content">
          <span class="card-title center"><h4>{{post.title}}</h4></span>

          <!-- Insert photo markup below this comment -->
          <div class="detail-thumbnail">
            <model-viewer
              bounds="tight"
              enable-pan
              src="{{post.model}}"
              ar
              ar-modes="webxr scene-viewer quick-look"
              camera-controls
              environment-image="neutral"
              poster="{{post.model}}"
              seamless-poster
              shadow-intensity="1"
              interaction-prompt-threshold="15000000"
            >
              <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
              </div>
              <button slot="ar-button" id="ar-button">
                View in your space
              </button>
            </model-viewer>
          </div>
          <div class="caption-container">
              <p id="caption"></p>
            </div>
        <div class="picture-viewer">
           <div class="container-gallery">
            {% for photo in post.photo_set.all %}
            <div class="mySlides">
              <img class="responsive-img card-panel" src="{{photo.url}}">
            </div>
            {% empty %}
            
            <div class="card-panel teal-text center-align">
              No Photos Uploaded
            </div>
            {% endfor %}
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
            <!-- Image text -->
            
      <div class="scroll-container">
         <div class="colume-container">
            {% for photo in post.photo_set.all %}
            <div class="column">
              <img class="demo curser" src="{{photo.url}}" style="width:100px; height:100px;" onclick="currentSlide({{photo.id}})">
            </div>
            {% empty %}

            {% endfor %}
          </div>
        </div>
      </div>
      </div>
     
        <br>
          <p class="hidden">Tags: {{post.tags}}</p>
        <div class="details">
          <div class="post-text">
            <p>{{post.text_content}}</p>
          </div>
          <div class="buttons">  
            <a href="{{post.model}}"><input type="button" value="Download" class="btn"></a>
            
            {% if not liked %}
            <form class="transparent" action=" {% url 'like_post' post.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" name="post_id" value="{{ post.id }}" class="btn color blue" >Like</button> {{post.total_likes}} Likes
            </form>
            {% else %}
            <form action=" {% url 'unlike_post' post.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" name="post_id" value="{{ post.id }}" class="btn color red unlike" value="Like">Like</button> {{post.total_likes}} Likes
            </form>
            {% endif %}
            <p>Download Count: {{post.downloads}}</p>
            <br />
            <p>Uploaded By: {{post.user.username}} <img class="responsive-img icon" src="{{post.user.account.picture}}" /> </p>
    
          </div>
        </div>
        {% comment %} <div>
          <a href="{% url 'comment_create' post.id %}">Add Comment</a>
        </div> {% endcomment %}
        {% if own_post %}
          <div class="own-post">
            <div class="image-form details-image-form">
              <form
                action="{% url 'add_photo' post.id %}"
                enctype="multipart/form-data"
                method="POST"
                class="image-form"
              >
            
                {% csrf_token %}
                <input type="file" name="photo-file" />
                <br /><br />
                <input type="submit" class="btn" value="Upload Photo" />
              </form>
            </div>
            <div class="own-buttons">
              <div class="">
                <a class="btn color blue" href="{% url 'post_update' post.id%}">Edit</a>
              </div>
              <div>
                <a class="btn color red" href="{% url 'post_delete' post.id%}">Delete</a>
              </div>
            </div>
          </div>
        {%endif%}
        </div>
      </div>
    </div>
  </br>


  </br>




  {% comment %} <h5> Comments </h5> {% endcomment %}
  <a class="btn" href="{% url 'comment_create' post.pk %}">Leave a comment
    </a>
  {% if not post.comments.all %}
    <div class="comment-container theme--light">
    <div class="comments" >No Comments yet...
    <div class="card v-card v-sheet theme--light elevation-2" ><span class="headline" ></span>  
  
     
  {% else %}

</br>
      {% for comment in post.comments.all %}  
</br></hr>
            <div  >
      <div  class="card v-card v-sheet theme--light elevation-2">
        <div  class="header comment-box">
        <!---->
        
        <div  class="wrapper comment">
          <p>{{ comment.title}}</p>
        </div>
        {%if comment.images %}
        <img src='{{ comment.images }}'>
        </br></br>

       {%endif%}
       <div  class="v-dialog__container" style="display: block;">{{ comment.text_content }}</div>
        <div  class="actions">
          <!---->
          <a class="btn color blue" href="{% url 'comment_update' comment.id%}">Edit</a>
      <a class="btn color red" href="{% url 'comment_delete' comment.id%}">Delete</a>
        </div>
        
    
      
    </hr>
    {% endfor %}
  {% endif %}
    {% comment %} <table>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Images</th>
      </tr>
      {% for comment in post.comments%}
      <tr>
        <td>{{comment.title}}</td>
        <td>{{comment.text_content}}</td>
        <td>{{comment.images}}</td>
      </tr>
      {%endfor%}
    </table> {% endcomment %}
  </div>
  {% endblock %}
</div>
