{%extends 'base.html'%} {% block content%}
<h1>Sign Up</h1>

{% if error_message %}
<p class="red-text">{{error_message}}</p>

{%endif%}

<form action="{% url 'signup' %}" method="POST"  enctype="multipart/form-data">
{% csrf_token %}


<div class="form-field">
    {{form.username.errors}}
    {{form.username.label_tag}}
    {{form.username}}
</div>
<div class="form-field">
    {{form.email.errors}}
    {{form.email.label_tag}}
    {{form.email}}
</div>
<div class="form-field">
    {{account_form.picture.label_tag}}
    {{account_form.picture}}
</div>
<div class="form-field">
    {{form.password1.errors}}
    {{form.password1.label_tag}}
    {{form.password1}}
</div>
<div class="form-field">
    {{form.password2.errors}}
    {{form.password2.label_tag}}
    {{form.password2}}
</div>

<br>
<input id="form-button" class="btn btn-success btn-block" type="submit" value="Create Account">
<br>
{{form.non_field_errors}}
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</form>

{%endblock%}
