{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".button-collapse").sideNav();
      });
    </script>
    <title>3D World</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo">3D World</a>
          <span class="babyearth">
            <model-viewer
              src="/media/models/Earth.glb"
              poster="media/Earth-poster.webp"
              seamless-poster
              environment-image="neutral"
              shadow-intensity="1"
              autoplay
              auto-rotate
              auto-rotate-delay="1"
              basic
              rotation-per-second="400%"
            >
            </model-viewer>
          </span>
          <a href="#" data-activates="mobile-demo" class="button-collapse"
            ><i class="material-icons">menu</i></a
          >
          <div class="brand-logo center">
            <ul class="hide-on-med-and-down nowrap">
              <li>
                <a href="{%url 'posts_index' %}">Models</a>
              </li>
              {% if user.is_authenticated %}
              <li>
                <a href="{%url 'post_create' %}">Add Model</a>
              </li>
              
              <li>
                <a href="{%url 'user_posts_index' %}">My Models</a>
              </li>
              {%endif%}
            </ul>
          </div>
          <div class="right">
            <ul class="right hide-on-med-and-down nowrap">
              <div class="right-nav">
                <li>
                  <form
                    class="searchbar left"
                    method="post"
                    action=" {% url 'search_post' %}"
                  >
                    {% csrf_token %}
                    <div class="input-field left">
                      <input
                        id="search"
                        type="search"
                        placeholder="Search"
                        name="searched"
                        required
                        class="search-bar"
                      />
                    </div>
                  </form>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'profile' %}"
                    ><img class="circle icon" src="{{ user.account.picture }}"
                  /></a>
                </li>
                <li>
                  <a href="{% url 'profile' %}">{{user.username}}</a>
                </li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>

                {%else%}
                <li>
                  <a href="{%url 'login' %}">Log In</a>
                </li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {%endif%}
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
     
      <li>
          <a href="{%url 'posts_index' %}">Models</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{%url 'post_create' %}">Add Model</a>
        </li>
        
        <li>
          <a href="{%url 'user_posts_index' %}">My Models</a>
        </li>
     
          <li>
            <a href="{% url 'profile' %}">{{user.username}}<img class="circle alt-icon" src="{{ user.account.picture }}"/></a>
          </li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>

          {%else%}
          <li>
            <a href="{%url 'login' %}">Log In</a>
          </li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {%endif%}
          <li> 
            <form
              class="searchbar left"
              method="post"
              action=" {% url 'search_post' %}"
            >
            {% csrf_token %}
            <div class="input-field left ">
              <input
                id="search"
                type="search"
                placeholder="Search"
                name="searched"
                required
                class="min-search-bar"
              />
            </div>
          </form>  
        </li>
        </ul>
    </header>
     

    <main class="container">{% block content %} {% endblock %}</main>
   

    <footer class="page-footer">
      <div class="center">All Rights reserved &copy; 2022 3D World</div>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
    ></script>
  </body>
</html>
