body {
  background-color: silver;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.cat-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-thing {
  display: flex;
}

img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  margin-left: 10px;
}
.card {
  display: flex;
  width: max-content;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(245, 245, 245, 0.915) !important;
}

.card-content {
  padding: 15px !important;
}

nav {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #131a20fb !important;
}

footer {
  background-color: #131a20fb !important;
}

input {
  max-width: 400px;
}

form {
  width: fit-content;
  background-color: azure;
  border-radius: 5px;
  padding: 15px;
}

.card:hover {
  /* transform: scale(1.04); */
  outline: 3px solid #00b44b;
}

.card-content img {
  margin: auto;
}

/* .card-content {
  width: 350px;
} */

.card-content img:hover {
  margin: auto;
  /* width: 100%; */
  /* height: 100%; */
  transform: scale(1.05);
  /* cursor: pointer; */
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 100% !important;
}

.earth model-viewer {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
